In [1]:
#S03 T05: Exploració de les dades
#Descripció
#Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

In [2]:
#Nivell 1

In [3]:
#Exercici 1
#Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. 
#Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

import os
import pandas as pd

airlines_df = pd.read_csv('Python/DelayedFlights.csv')

airlines_df[:10] # Mostra 10 registres del data set Airlines Delay
airlines_df[["Year","DepTime","CRSDepTime","ArrTime","CRSArrTime"]]

         Year  DepTime  CRSDepTime  ArrTime  CRSArrTime
0        2008   2003.0        1955   2211.0        2225
1        2008    754.0         735   1002.0        1000
2        2008    628.0         620    804.0         750
3        2008   1829.0        1755   1959.0        1925
4        2008   1940.0        1915   2121.0        2110
...       ...      ...         ...      ...         ...
1936753  2008   1250.0        1220   1617.0        1552
1936754  2008    657.0         600    904.0         749
1936755  2008   1007.0         847   1149.0        1010
1936756  2008   1251.0        1240   1446.0        1437
1936757  2008   1110.0        1103   1413.0        1418

[1936758 rows x 5 columns]

In [4]:
#Exercici 2.a
import statistics as stat

#Fes un informe complet del data set:.
airlines_df.describe()
#Resumeix estadísticament les columnes d’interès
airlines_df[["ActualElapsedTime","CRSElapsedTime","AirTime","TaxiIn","TaxiOut"]].describe()

,ActualElapsedTime,CRSElapsedTime,AirTime,TaxiIn,TaxiOut
count,1.928371e+06,1.936560e+06,1.928371e+06,1.929648e+06,1.936303e+06
mean,1.333059e+02,1.343027e+02,1.082771e+02,6.812975e+00,1.823220e+01
std,7.206007e+01,7.134144e+01,6.864261e+01,5.273595e+00,1.433853e+01
min,1.400000e+01,-2.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+01,8.200000e+01,5.800000e+01,4.000000e+00,1.000000e+01
50%,1.160000e+02,1.160000e+02,9.000000e+01,6.000000e+00,1.400000e+01
75%,1.650000e+02,1.650000e+02,1.370000e+02,8.000000e+00,2.100000e+01
max,1.114000e+03,6.600000e+02,1.091000e+03,2.400000e+02,4.220000e+02

In [5]:
#Exercici 2.a

# Dades estructurals
print(airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].info())

# Dades númeriques
airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].describe()

# Mitja de les columnes seleccionades
print("Mean")
print(airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].mean())
print('\n')

# Mitjana de les columnes seleccionades
print("Median")
print(airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].median())
print('\n')

# Valor de Moda a les columnes seleccionades
print("Mode")
print(airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].mode())
print('\n')

# Valor de Varianza a les columnes seleccionades
print("Variance")
print(airlines_df[['ActualElapsedTime','CRSElapsedTime','AirTime','TaxiIn','TaxiOut']].var())
print('\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   ActualElapsedTime  float64
 1   CRSElapsedTime     float64
 2   AirTime            float64
 3   TaxiIn             float64
 4   TaxiOut            float64
dtypes: float64(5)
memory usage: 73.9 MB
None
Mean
ActualElapsedTime    133.305863
CRSElapsedTime       134.302744
AirTime              108.277147
TaxiIn                 6.812975
TaxiOut               18.232203
dtype: float64


Median
ActualElapsedTime    116.0
CRSElapsedTime       116.0
AirTime               90.0
TaxiIn                 6.0
TaxiOut               14.0
dtype: float64


Mode
   ActualElapsedTime  CRSElapsedTime  AirTime  TaxiIn  TaxiOut
0               80.0            75.0     45.0     4.0     11.0


Variance
ActualElapsedTime    5192.653541
CRSElapsedTime       5089.600902
AirTime              4711.807927
TaxiIn                 27.810805
TaxiOut               205.593563
dtype: float64

In [6]:
#Exercici 2.b
#Troba quantes dades faltants hi ha per columna
pd.DataFrame(airlines_df.isnull().sum())

                        0
Unnamed: 0              0
Year                    0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
ArrTime              7110
CRSArrTime              0
UniqueCarrier           0
FlightNum               0
TailNum                 5
ActualElapsedTime    8387
CRSElapsedTime        198
AirTime              8387
ArrDelay             8387
DepDelay                0
Origin                  0
Dest                    0
Distance                0
TaxiIn               7110
TaxiOut               455
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay       689270
WeatherDelay       689270
NASDelay           689270
SecurityDelay      689270
LateAircraftDelay  689270

In [7]:
#Exercici 2.c
#Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
airlines_df = airlines_df.assign(MeanSpeed = 0)
airlines_df = airlines_df.assign(Late = False)

airlines_df[["Year","DepTime","CRSDepTime","ArrTime","CRSArrTime","MeanSpeed","Late"]]

         Year  DepTime  CRSDepTime  ArrTime  CRSArrTime  MeanSpeed   Late
0        2008   2003.0        1955   2211.0        2225          0  False
1        2008    754.0         735   1002.0        1000          0  False
2        2008    628.0         620    804.0         750          0  False
3        2008   1829.0        1755   1959.0        1925          0  False
4        2008   1940.0        1915   2121.0        2110          0  False
...       ...      ...         ...      ...         ...        ...    ...
1936753  2008   1250.0        1220   1617.0        1552          0  False
1936754  2008    657.0         600    904.0         749          0  False
1936755  2008   1007.0         847   1149.0        1010          0  False
1936756  2008   1251.0        1240   1446.0        1437          0  False
1936757  2008   1110.0        1103   1413.0        1418          0  False

[1936758 rows x 7 columns]

In [31]:
#Exercici 2.d
#Taula de les aerolínies amb més endarreriments acumulats
airlines_df[['UniqueCarrier','ArrDelay','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay']].groupby(['UniqueCarrier']).count().sort_values(by=['ArrDelay','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'],ascending=False).head()

,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
UniqueCarrier,,,,,,
WN,376201,203559,203559,203559,203559,203559
AA,190910,132257,132257,132257,132257,132257
MQ,141223,97555,97555,97555,97555,97555
UA,140904,95465,95465,95465,95465,95465
OO,131780,88991,88991,88991,88991,88991

In [9]:
#Exercici 2.e.1
#Quins són els vols més llargs? 
airlines_df[["UniqueCarrier","FlightNum","Distance"]].sort_values(by='Distance',axis=0,ascending=False,inplace = False).head()

        UniqueCarrier  FlightNum  Distance
1255581            CO         14      4962
1926346            CO         14      4962
718062             CO         15      4962
1928077            CO         14      4962
173695             CO         15      4962

In [10]:
#Exercici 2.e.2
#I els més endarrerits?
airlines_df[["UniqueCarrier","FlightNum","ArrDelay","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay"]].sort_values(by=['ArrDelay','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'],axis=0,ascending=False,inplace = False).head()

,UniqueCarrier,FlightNum,ArrDelay,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
322516,NW,808,2461.0,1455.0,0.0,4.0,0.0,1002.0
686014,NW,1699,2453.0,2436.0,0.0,0.0,0.0,17.0
839306,NW,1107,1951.0,1951.0,0.0,0.0,0.0,0.0
1009553,MQ,3538,1707.0,1707.0,0.0,0.0,0.0,0.0
1881639,NW,357,1655.0,1307.0,0.0,58.0,0.0,290.0

In [11]:
#Exercici 3
#Exporta el data set net i amb les noves columnes a Excel.
airlines_df.to_csv('Python/airlines.csv') 
airlines_df[["UniqueCarrier","FlightNum","ArrDelay","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay"]].sort_values(by=['ArrDelay','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay'],axis=0,ascending=False,inplace = False).head().to_excel('Python/airlines2.xls')